
<form action="#" method = "POST" enctype = "multipart/form-data">
    <p>Выберите файлы для просмотра</p> 
    <label>
         <input type="file" name="images[]" accept ="image/*" multiple >
    </label>
    <label>
        <input type="submit" name = 'submit' value = "Передать в галерею">
    </label>
</form>
<div><p>{{message}}</p></div>