<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no'/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="flex_col">
        <div class=" flex_row up_header">
            <div><a class="font_norm link" href="index.php">{{ "фотогалерея"|upper }}</a></div> 
            <div><a class="font_norm link" href="edit.php">{{ "добавление фото"|upper }}</a></div>
        </div> 
    </header>
    <h1>{{title}}</h1>