.menu {
    margin-top: 1rem;
    list-style-type: none;
    background-color: azure;
    outline: none;
    .btn {
        outline: none;
        border-radius:50px;
        border-color: red;
    }
    .btn-secondary {
        background-color: transparent;
        border: none;
        color:$fontColor;
        outline: none;
        &:hover {
            outline: none;
            color:  darken($fontColor,20%);
            border: none;
            outline-color: red;
        }
        &:active {
            outline: none;
            color:  darken($fontColor,20%);
            border: none;
        }
        &:focus {
            outline: none;
            color:  darken($fontColor,20%);
            border: none;
        }
    }
    .show>.btn-secondary.dropdown-toggle {
        color: darken($fontColor,20%);
        background-color: transparent;
        border: none;
        outline: none;
        &:active {
            outline: none;
            color: darken($fontColor,20%);
            background-color: transparent;
            border: none;
            box-shadow: none;
        }
        &:focus {
            outline: none;
            color: darken($fontColor,20%);
            background-color: transparent;
            border: none;
            box-shadow: none;
        }
    }
    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
        color: darken($fontColor,20%);
        background-color: transparent;
        border-color: none;
        outline-color: none;
        box-shadow: none;
    }    
}
    
